:global(.vtex-sticky-layout-0-x-container) {
  background-color: #3d3d3d !important;
  height: 56px !important;
}
:global(.vtex-sticky-layout-0-x-container--sticky-header-desktop) {
  display: flex;
  justify-content: center;
  justify-items: center;
}

:global(.vtex-store-components-3-x-logoContainer) {
  display: flex;
  padding: 10px;
  margin: 0;
}

:global(.vtex-store-components-3-x-sizeMobile) {
  max-width: 90px;
  max-height: 40px;
  min-width: 32px;
}
:global(.vtex-sticky-layout-0-x-container--sticky-header-desktop2) {
  background-color: #f2f2f2 !important;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
  align-content: center;
  height: 32px !important;
  color: #666666;
}

:global(.vtex-menu-2-x-styledLinkContent--submenu-header) {
  color: #666666;
}
