.flexRowContent--header-submenu1 {
  color: #666666;
  background-color: #f2f2f2 !important;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
  align-content: center;
  height: 32px !important;
  padding-left: 9rem;
}

.flexRowContent--header-submenu2 {
  margin-top: .8rem;
  height: 64px !important;
  padding-left: 4.7rem;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
  align-content: center;
}
