.autoCompleteOuterContainer--search-bar-desktop {
  width: 740px;
  font-family: Arial;
  font-weight: 100;
  border: none !important;
  outline: none !important;
}
.logoImage--track {
  margin-left: 15px;
  padding: 0 !important;
  height: 38px !important;
  width: 38px !important;
}

:global(.vtex-store-components-3-x-sizeDesktop) {
  min-width: 10px;
}

.autoCompleteOuterContainer--search-bar-desktop :global(.vtex-input__suffix) {
  background-color: #ff5500;
  width: 1rem;
  border: none !important;
  outline: none !important; 
}

.imageElement--img-submenu2{
  margin-left: 4rem;
}