@font-face {
  font-family: "arial";
  src: url(assets/fonts/ArialThing.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "arial";
  src: url(assets/fonts/ArialLine.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "arial";
  src: url(assets/fonts/ArialRegular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "arial";
  src: url(assets/fonts/ArialBold.ttf);
  font-weight: 600;
}